body {
  background-image: url("images/background1.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
header {
  background: linear-gradient(
    90deg,
    transparent,
    rgb(233, 215, 112),
    transparent
  );
  opacity: 0.8;
}
h1,
h2 {
  color: black;
}
.picture {
  margin-right: 1%;
}
.logo {
  max-width: 50px;
}
